:root{
    --main-color: #FF0000;
    --text-color: #ffffff;
    --body-bg: #0A070B;

    --nav-height: 78px;
    --space-top: 20px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
    background-size: 100%;
    background-image: url(../img/photo-1574267432553-4b4628081c31.jfif);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1440px;
    padding: 0 40px;
    margin: auto;
}
 
.overplay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #1a191f;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    height: var(--nav-height);
}

.logo{
    height: 100px;
    width:150px;
    margin-top: 10px;
}

.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li ~ li{
    margin-left: 40px;
}

.nav-menu a{
    font-weight: 700;
    color: var(--text-color);
}

section .search {
    margin-left: 150px;
    margin-right: 120px;
}
.nav-menu a:hover{
    color: #B3B3B3 ;
}

.nav-menu a.btn:hover, a.logo:hover {
    color: unset;
}

.search{
    width: 180px;
    height: 30px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0px 20px;
}

.search input{
    width: 100%;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
}

.search i{
    color: #3a3a3a;
}

.btn{
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}

.btn-hover::before{
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    border-radius: 5px;
    height: 100%;
    background-color: #870F11;
    transition: 0.3s ease-in-out;
}

.btn-hover:hover::before{
    width: 100%;
}

.btn span {
    z-index: 1;
}

.btn i,.btn span{
    z-index: 1;
}

.btn i{
    margin-right: 1rem;
}

.boxmain{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.header_navbar-icon-link{
    color: white;
    text-decoration: none;
}

.header_navbar-item{
    text-decoration: none;
}
.header_navbar-icon{
    font-size: 30px;
}

.header_navbar-icon,.header_navbar-icon-link{
    display: inline-flex;
    align-items: center;
}


.contact_text{
    color: white;
    margin-top: 100px;
    text-align:justify;
    white-space: nowrap; 
    margin-left: 100px;
}

.contact_text h2{
    padding-bottom: 10px;
    padding-left: 5px;
}
.contact_text p{
    font-size: 20px;
    padding: 5px;
}


.container_sign-in{
    width: 500px;
    height: 580px;
    margin: auto;
    
    padding-top: 50px;
}

.form_sign-in{
    width: 450px;
    height: 560px;
    border: 1px solid #484848;
    margin: auto;
    background-color:	#484848;
    border-radius: 10px;
    padding-top: 80px;
    opacity: 0.9;
    filter: alpha(opacity=80);
}

h2{
    text-align: center;
    padding-bottom: 20px;
    opacity: 1;
    font-size: 30px;
}

.form-input{
    padding-left: 50px;
}

.form-input input{
    width: 350px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 20px;
}

.singin{
    padding-left: 200px;
    color: var(--text-color);
}

.singin:hover{
    color: var(--main-color);
}

.buttonn{
    width: 100px;
    height: 50px;
    margin-top: 30px;
    margin-left: 170px;
}
.join_in{
    white-space:nowrap;
    padding-top: 20px;
}

p{
    font-size: 16px;
    padding-left: 50px;
}

#text_sign{
    color: var(--text-color);
    padding-left: 40px;
}

#text_sign:hover{
    color: var(--main-color);
}

h4{
    text-align: center;
    padding-top: 20px;
}

.social-lists{
    text-align: center;
    font-size: 50px;
}

.social-items{
    color: #ffffff;
}

.social-items:hover{
    color: var(--main-color);
}

footer.section {
    border-top: 1px solid gray;
    margin-top: 80px;
    padding-bottom: 20px;
    position: relative;
    background-color: #1a191f;
}

footer a:hover {
    color: var(--main-color);
}

footer a.logo {
    margin-top: -2.5rem;
    display: block;
}

footer a.logo:hover {
    color: unset;
}

footer .section .content span{
    color: #c19008;
}


footer .section {
    m-left: 100px;
}

.social-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
}

.social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.social-item ~ .social-item {
    margin-left: 20px;
}

footer .content {
    margin-top: 20px;
}

footer .content b{
    color: #870F11;
}

.footer-menu {
    list-style-type: none;
}

.footer-menu a {
    display: inline-block;
    color: var(--text-color);
    transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
    transform: translateX(5px);
}

footer .name{
    color: #c19008;
}

/* responsive*/
.nav_overplay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,0,0.3);
    display: none;
}

.nav_input:checked ~ .nav_overplay{
    display: block;
}

.nav_input:checked ~ .nav_mobile{
    transform: translateY(0px);
}
.nav_mobile{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color:#0A070B;
    transform: translateY(-100%);
}

.nav_mobile-logo img{
    width: 150px;
    height: 80px;
    padding-left: 10px;
    padding-top: 1px;
}

.nav_mobile-list{
    color: white;
    display: block;
    padding: 8px 20px;
    font-size: 15px;
    text-align: justify;
    text-decoration: none;
}

.nav_mobile-menu{
    margin-top: 24px;
}

.nav_mobile-close{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 2rem;
    right: 20px
}


@media only screen and (max-width: 1200px) {
    html {
        min-width: 576px;
        font-size: 15px;
    }

    .nav_login-btn{
        width: 40px;
        height: 35px;
        margin-top: 1px;
        margin-left: 320px;
        color: #c19008;
    }

    .nav-menu {
        display: none;
    }

    .nav_bars-btn{
        width: 40px;
        height: 35px;
        margin-right: 10px;
        margin-top: -10px;
    }

    footer.section {
        border-top: 1px solid gray;
        margin-top: 80px;
        padding-bottom: 20px;
        position: relative;
        background-color: var(--box-bg);
    }
    
    footer a:hover {
        color: var(--main-color);
    }
    
    footer a.logo {
        margin-top: -2.5rem;
        display: block;
    }
    
    footer a.logo:hover {
        color: unset;
    }
    
    footer .section .content span{
        color: #c19008;
    }
    
    
    footer .section {
        margin-left: 100px;
    }
    
    .social-list {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    
    .social-item {
        --size: 30px;
        height: var(--size);
        width: var(--size);
        display: grid;
        place-items: center;
        border-radius: 50%;
        background-color: var(--text-color);
        color: var(--main-color);
    }
    
    .social-item:hover {
        background-color: var(--main-color);
        color: var(--text-color);
    }
    
    .social-item ~ .social-item {
        margin-left: 20px;
    }
    
    footer .content {
        margin-top: 20px;
    }
    
    footer .content b{
        color: #870F11;
    }
    
    .footer-menu {
        list-style-type: none;
    }
    
    .footer-menu a {
        display: inline-block;
        color: var(--text-color);
        transition: transform 0.2s ease-in-out;
    }
    
    .footer-menu a:hover {
        transform: translateX(5px);
    }
    
    footer .name{
        color: #c19008;
    }
}




@media only screen and (max-width: 1280px) {
    html {
        max-width: 1200px;
        font-size: 12px;
    }

    .hero-slide-item {
        padding-top: 50%;
    }

    .item-content-wraper {
        width: 50%;
    }
}